h1 {
    font-size: 50px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.orange {
    color: rgb(228, 98, 98);
}

.flexible {
    display: flex;
    padding: 5px 5px;
}

.half-width {
    width: 60%;
    padding-left: 2%;
    padding-right: 2%;
}

.half-width img {
    width: 100%;
}

.button-link {
    text-decoration: none;
    background-image: linear-gradient(rgb(228, 98, 98), rgb(92, 7, 7));
    padding: 10px 30px;
    font-weight: 700;
    color: black;
    border-radius: 5px;
}

.button-link:hover {


    color: aliceblue;
    background-image: linear-gradient(to right, skyblue, blue);
    text-transform: uppercase;
    text-align: justify;

}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

#change-h-color:hover {
    background-image: linear-gradient(to left, rgba(23, 3, 34, 0.158), rgba(0, 4, 5, 0.651))
}